*{
    margin: 0;
    padding: 0;
}
/* Começo do Menu*/
.menu{
    background-color: #C0392B;
}
.menu > div > ul{
    list-style: none;
    display: flex;
}
.menu > div> ul > li{
    padding: 5px; /* Dentro do box */
}
.menu-link{
    color: white;
    text-decoration: none;
    padding: 5px;
    font-size: 15px;
}
.menu-link:hover{
    text-decoration: underline;
}
/* Fim do Menu */
/*Começo do Titulo*/
.titulo{
    background:linear-gradient(#C0392B,#E74C3C);
    color:white;
    padding-top: 50px;
    padding-bottom: 10px;
    font-size: 38px;
    text-shadow: 1px 1px 1px #000000a8;
}
.titulo-mod{
    background: white;
    border-radius: 5px;
    color:#C0392B;
    text-transform: uppercase;
    padding:1px;
    padding-top:2px;
}
.box{
    max-width:1200px;
    margin: 0 auto;
}
