.box-container{
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   flex-wrap: wrap; 
}
.titulo-serie{
    font-size: 27px;
    font-family: 'Slabo 27px', serif;
    text-align: center;
}
.genero-serie{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color:#A9A4A4;
    text-align: center;
}
.capa-serie{
    border-radius: 5px;
    display:block;
    margin: 7px auto;
}
.btn-leiamais{
    background-color: #C0392B;
    color:white;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    display:block;
    border:0;
    margin:0 auto;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}
.box-serie{
    box-sizing: border-box;
    width: 300px;
    padding: 10px;
}